{
    "command": "goering-processor --config-file /etc/goering/goering.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/goering.conf",
            "dest": "/etc/goering/goering.conf",
            "owner": "goering",
            "perm": "0600"
        }{% if goering_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ goering_policy_file }}",
            "dest": "/etc/goering/{{ goering_policy_file }}",
            "owner": "goering",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/goering",
            "owner": "goering:kolla",
            "recurse": true
        }
    ]
}
