{
    "command": "/opt/ryze/bin/ryze-server --config /opt/ryze/ryze.prod.json",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ryze.prod.json",
            "dest": "/opt/ryze/ryze.prod.json",
            "owner": "root",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/ryze",
            "owner": "root:root",
            "recurse": true
        }
    ]
}
