---
apiVersion: 1

providers:
- name: 'Cluster Infrastructure Monitoring'
  folder: 'Infrastructure'
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  options:
    path: /grafana/dashboards/infrastructure
- name: "OpenStack Cluster Monitoring"
  folder: OpenStack
  type: file
  disableDeletion: false
  updateIntervalSeconds: 3
  options:
    path: /grafana/dashboards/openstack
