{
    "command": "/opt/nvidia_gpu_prometheus_exporter/nvidia_gpu_prometheus_exporter -web.listen-address={{ monitoring_interface_address }}:{{ hawkeye_nvidia_gpu_prometheus_exporter_port }}",
    "config_files": [],
    "permissions": []
}
