{
    "command": "/usr/bin/keepalived-exporter --web.listen-address {{ monitoring_interface_address }}:{{ hawkeye_keepalived_exporter_port }} --container-name keepalived --container-tmp-dir /tmp/keepalived-tmp/",
    "config_files": [],
    "permissions": []
}
