{
    "command": "/opt/docker_state_exporter/docker_state_exporter -listen-address={{ monitoring_interface_address }}:{{ hawkeye_docker_state_exporter_port }}",
    "config_files": [],
    "permissions": []
}
