{
    "command": "/opt/haproxy_exporter/haproxy_exporter --haproxy.scrape-uri=unix:/var/lib/kolla/haproxy/haproxy.sock --web.listen-address={{ monitoring_interface_address }}:{{ hawkeye_haproxy_exporter_port }}",
    "config_files": [],
    "permissions": [
        {
            "path": "/var/log/kolla/hawkeye",
            "owner": "root:kolla",
            "recurse": true
        }
    ]
}
