{
    "command": "sleep infinity",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/admin-openrc",
            "dest": "/root/admin-openrc",
            "owner": "root",
            "perm": "0755"
        }
    ],
    "permissions": []
}
