{
    "command": "/opt/captain/tools/app-server-ctl.sh start",
    "permissions": [
        {
            "path": "/var/log/kolla/captain",
            "owner": "root:root",
            "recurse": true
        }
    ]
}
