opensearchDashboards.defaultAppId: "{{ logging_opensearch_dashboards_default_app_id }}"
logging.dest: /var/log/kolla/opensearch-dashboards/opensearch-dashboards.log
server.port: {{ logging_opensearch_dashboards_port }}
server.host: "{{ api_interface_address }}"
opensearch.hosts: "{{ logging_opensearch_internal_endpoint }}"
opensearch.requestTimeout: {{ logging_opensearch_dashboards_opensearch_request_timeout }}
opensearch.shardTimeout: {{ logging_opensearch_dashboards_opensearch_shard_timeout }}
opensearch.ssl.verificationMode: "{{ 'full' if logging_opensearch_dashboards_opensearch_ssl_verify | bool else 'none' }}"
data.search.usageTelemetry.enabled: false
{% if openstack_cacert | length > 0 %}
opensearch.ssl.certificateAuthorities: {{ openstack_cacert }}
{% endif %}
