client:
  hosts: [{% for host in groups['logging_opensearch_curator'] %}"{{ 'api' | kolla_address(host) | put_address_in_context('url') }}"{% if not loop.last %},{% endif %}{% endfor %}]
  port: {{ logging_opensearch_port }}
  timeout: 30

logging:
  loglevel: INFO
  logfile: /var/log/kolla/opensearch/opensearch-curator.log
