options kvm_intel nested=1
options kvm ignore_msrs=1
options vfio_iommu_type1 allow_unsafe_interrupts=1
options vfio-pci ids={%- for id in gpu_ids %}{{ id }}{% if not loop.last %},{% endif %}{% endfor %}

softdep nouveau pre: vfio-pci
softdep snd_hda_intel pre: vfio-pci
