{
    "command": "/opt/pushgateway/pushgateway --web.listen-address={{ api_interface_address }}:{{ prometheus_pushgateway_port }} --web.enable-admin-api",
    "config_files": [],
    "permissions": []
}
