{
    "command": "/opt/prometheus/prometheus --config.file=/etc/prometheus/prometheus.yml --web.listen-address={{ api_interface_address }}:{{ prometheus_port }} --storage.tsdb.path=/var/lib/prometheus --storage.tsdb.retention.time={{ prometheus_server_data_retention_day | default(365) }}d",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/prometheus.yml",
            "dest": "/etc/prometheus/prometheus.yml",
            "owner": "prometheus",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/data",
            "owner": "prometheus:kolla",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/prometheus",
            "owner": "prometheus:kolla",
            "recurse": true
        }
    ]
}
